@page "/"

<h1>AMPQ Listener</h1>

In order to see the data visible on this site, you need to have:
<ul>
    <li>Start Rabbit MQ</li>
    <li>Run Mock Service app</li>
    <li>From this web app, click on Fetch Data to see live feed.</li>
</ul>